*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header css */

/* mobile */
@media (min-width: 0) and (max-width: 480px) {
    .header {
      font-size: 2rem;
      overflow: hidden;
      background-color: #fff !important;
    }
  
    .menu-mobile {
      color: #707070;
      flex: 1 1;
      font-size: 3rem;
      margin-right: 32px;
      padding: 8px 0;
      float: none;
      display: block;
      text-align: left;
    }
  
    .bt-mobile {
      border-radius: 10px !important;
      background-color: #F05123 !important;
      color: white !important;
      width: 100px;
      height: 35px;
      border: 0px;
      font-size: 15px;
      right: 20px !important;
    }
  
    .icon-search {
      position: absolute;
      left: 20px;
      top: 37%;
      font-size: 25px !important;
    }
  }
  
  /* tablet */
  @media (min-width: 600px) and (max-width: 1024px) {
    .header {
      background-color: #fff !important;
      overflow: hidden;
    }
  
    .menu-mobile {
      color: #707070;
      flex: 1 1;
      font-size: 3rem;
      margin-right: 32px;
      padding: 8px 0;
      float: none;
      display: block;
      text-align: left;
      padding-top: 10px;
    }
  
    .bt-header {
      border-radius: 10px !important;
      background-color: #F05123 !important;
      color: white !important;
      width: 150px;
      height: 35px;
      border: 0px;
  
    }
  
    .icon-log {
      padding-top: 10px;
    }
  
    .input-header {
      width: 400px;
      height: 35px;
      border-radius: 10px;
    }
  
    .icon-search {
      position: absolute;
      left: 25px;
      top: 35%;
      font-size: 25px !important;
    }
  
    ::placeholder {
      padding-left: 40px;
    }
  
    .input-form {
      padding-top: 10px;
    }
  }
  
  /* laptop */
  @media (min-width: 1025px) {
    .header {
      background-color: #fff !important;
      padding: 30px;
      overflow: hidden;
    }
  
    .logo-header {
      text-align: right;
    }
  
    .logo-header img {
      width: 40px;
    }
  
    .font-logo {
      font-size: 16px;
      font-weight: bold;
    }
  
    .input-header {
      width: 500px;
      height: 40px;
      border-radius: 10px;
    }
  
    .icon-search {
      position: absolute;
      left: 25px;
      top: 20%;
      font-size: 25px !important;
    }
  
    ::placeholder {
      padding-left: 40px;
    }
  
    .bt-header {
      border-radius: 10px !important;
      background-color: #F05123 !important;
      color: white !important;
      width: 150px;
      height: 35px;
      border: 0px;
    }
  
    .cart-icon {
      font-size: 30px;
      color: orange;
      bottom: 1px;
      left: 10px;
    }
  
    .header-log {
      float: right;
    }
  }

  /* side bar css */
.bg-sidebar {
  border-right: 1px solid black;
}

.list-nav ul li {
  list-style: none;
}

.CreateButton {
  margin: 20px !important;
  /* height: 70px; */
  padding-bottom: 5px !important;
  border: 1px solid #11111130;
  border-radius: 15px;
  align-items: center;
  background-color: #1473e6;
  border-color: #1473e6;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: center;
  margin: 8px 0 2px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 50px;
}

.home {
  width: 70px;
  margin: 20px !important;
  /* height: 70px; */
  padding-bottom: 5px !important;
  border: 1px solid #11111130;
  border-radius: 15px;
}

a {
  color: black !important;
}

a:hover {
  text-decoration: none;
  cursor: pointer !important;
}

/* 
.list {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

p {
  padding: 0 !important;
}

/* uCom css */

  /* footer css */
.bg-footer{
    background: #111;
}
.footer-logo{
    width: 25%;
}
.footer-font{
    color: #fff;
}
.footer-fontsize{
    font-size: 17px;
}
.footer-icon{
    font-size: 30px;
}
.text-about{
    padding: 10px;
}
.fa-square-youtube, .fa-square-facebook, .fa-tiktok{
    font-size: 30px;
}